* {
    margin: 0;
    padding: 0;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

/*<------сверху фиксы------>*/




body {
    position: relative;
    width: 910px;
    margin: 0 auto;
}

header {
    position: relative;
    width: 100%;
    height: 54px;
    float: left;
}

.phones {
    float: left;
    position: relative;
    left: 4px;
    top: 20px;
    padding-left: 28px;
    background-image: url("../images/phone.png");
    background-position: 4px center;
    background-repeat: no-repeat;
}

.phones span {
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
}

/*------------формы авторизации----------*/

.auth {
    position: relative;
    float: left;
    left: 20px;
    width: 495px;
    height: 26px;
    margin-top: 18px;
    background-color: #b1bcc0;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(150, 150, 150, 0.75);
}

.auth img {
    position: relative;
    left: -228px;
    top: 4px;
}

.auth > form {
    float: left;
    position: relative;
    left: 26px;
    top: 4px;

}

.auth > form > input {
    float: left;
    width: 109px;
    height: 15px;
    background-color: white;
    border: 1px solid #9ba1a3;
}

.auth > form > input:first-child {
    margin-right: 6px;
}

.auth > form > input[placeholder] {
    color: #97a2a6;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 4px;
}

.auth > div {
    float: right;
}

.enter {
    margin-right: 18px;
}

.enter a {
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
}

.forgot {
    margin-right: 10px;
}

.forgot a {
    color: #bfbfbf;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: underline;
}



/*-----------три иконки справа---------*/

.three_icons {
    float: right;
    margin: 19px 7px 0 6px;
    text-align: center;
    width: 76px;
    height: 20px;
    background-color: white;
    border: 1px solid #bdc4c7;
    border-radius: 10px;
    box-shadow: 0 2px 6px 1px rgba(189, 196, 199, 0.58);
}
.three_icons > a {
    height: 100%;
    padding: 2px;
}


/*-------------------меню--------------------*/

nav {
    width: 910px;
    height: 32px;
    margin-top: 2px;
    background-color: white;
    background-image: linear-gradient(to top, black 75%, #576068 100%);
    border: 1px solid #0d1642;
    border-radius: 5px;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}

nav ul {
    margin-left: 125px;
    margin-top: 3px;
    width: 60%;
}

.main-menu_item {
    display: block;
    height: 24px;
    padding: 0px 0px;
    float: left;
}

.main-menu_item > a {
    font-size: 13.5px;
    font-family: "Lucida Sans Unicode";
    font-weight: 400;
    color: white;
    text-decoration: none;
    line-height: 20px;
}
.main-menu_item:hover {
    color: white;
    background-color: #f60303;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border-radius: 20px;
}
/*-------выравнивание кнопок меню поштучно---------*/
.text_button_1{
    padding: 2px 19px 0 21px;
}
.text_button_2{
    padding: 2px 17px 0 17px;
}
.text_button_3{
    padding: 2px 16px 0 14px;
}
.text_button_4{
    padding: 2px 14px 0 15px;
}
.text_button_5{
    padding: 2px 12px 0 12px;
}



/*-------корзина--------*/

.basket {
    position: relative;
    float: right;
    width: 25%;
    height: 30px;
    background-image: url("../images/basket.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
}

.basket_item {
    position: relative;
    float: left;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #8a9296;
}

.basket_item span {
    position: relative;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
}

.prod {
    left: 28px;
    top: 2px;
}

.sum {
    left: 42px;
    top: 2px;
}

.prod span {
    right: -1px;
    top: 2px
}

.sum span {
    left: 7px;
    top: 2px;
}
/*-------------------------------------------------------------------------------------------------------*/
/*--расположение всего блока с колесами и боковыми меню--*/

main {
    overflow: hidden;
    margin-top: 163px;
}

.right_fon {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.center_fon {
    float: left;
    width: 100%;
    position: relative;
    right: 21%;
}

.left_fon {
    float: left;
    width: 100%;
    position: relative;
    right: 58%;
}

.left {
    width: 21%;
}

.center {
    width: 58%;
}

.right {
    width: 21%;
}

.column {
    float: left;
    position: relative;
    left: 79%;
    height: 627px;
    overflow: hidden;
}
.catalog {
    height: 600px;
}
/*---------------------------------------------------------------------------------*/
/*--отрисовка пунктов меню правого--*/

        /*--каталог продукции/левый--*/
.left.column h2 {
    position: relative;
    display: block;
    color: #114165;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12.6px;
    font-weight: 400;
    border: 1px solid #79878d;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);
    background-image: url("../images/doc.png");
    background-position: 2px center;
    background-repeat: no-repeat;
    width: 153px;
    height: 25px;
    padding-left: 28px;
    line-height: 28px;
}
        /*--подразделы шины/диски/болты левый--*/
.left.column h3 {
    position: relative;
    color: #114165;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    height: 27px;
    background-color: white;
    border: 1px solid #79878d;
    border-radius: 20px;
}
.left.column h3 > div {
    display: inline-block;
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    border: solid 5px #114165;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: 4px;
    margin-top: 3px;
    margin-right: 4px;
}
.left.column h3 > span {
    position: relative;
    top: -5px
}
/*--каталог бренды/правый--*/
.right.column h2 {
    position: relative;
    display: block;
    color: #114165;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12.6px;
    font-weight: 400;
    border: 1px solid #79878d;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);
    background-image: url("../images/doc.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    width: 150px;
    height: 25px;
    padding-left: 30px;
    line-height: 27px;
}

/*--подразделы шины/диски справа--*/
.right.column h3 {
    position: relative;
    color: #114165;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 135px;
    height: 27px;
    background-color: white;
    border: 1px solid #79878d;
    border-radius: 20px;
}
.right.column h3 > div {
    display: inline-block;
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    border: solid 5px #114165;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 2px;
    margin-right: 4px;
}
.right.column h3 > span {
    position: relative;
    top: -5px
}
        /*--пункты левого меню и их .hover--*/
.catalog_submenu {
    position: relative;
    display: block;
    height: 14px;
}
.catalog_submenu > a {
    color: #465961;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    text-decoration: none;
}
.catalog_submenu span {/*кружок пункта меню*/
     display: inline-block;
     box-sizing: border-box;
     width: 7px;
     height: 7px;
     border: 2px solid #79878d;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     border-radius: 100%;
     position: relative;
     /*top: -1px;*/
     left: -2px;
 }
.catalog_submenu:hover a {
    box-sizing: border-box;
    color: #0c3256;
    font-family: Arial, "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}
.catalog_submenu:hover span {
    border: 2px solid #313a55;
}
        /*--кастом чекбоксов справа--*/
.brand p {
    position: relative;
    display: block;
}
        /*--прячем оригинальный чекбокс--*/
.brand [type="checkbox"]:not(:checked),
.brand [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
        /*кастомизируем текст чекбокса*/
.brand [type="checkbox"]:not(:checked) + label,
.brand [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 34px;
    cursor: pointer; /*меняет курсор на палец*/
    color: #465961;
    font-family: "Lucida Sans Unicode";
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
        /*позиционирование и вид нового чека*/
        /*!!!!!менять вместе с галкой*/
.brand [type="checkbox"]:not(:checked) + label::before,
.brand [type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    left: 11px;
    top: 4px;
    width: 8px;
    height: 10px;
    background-color: white;
    border: 1px solid #114165;
    border-bottom: none;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.75);
}
        /*позиционирование и вид чекнутого чекбокса*/
        /*!!!!!!!менять вместе с чекбоксом*/
.brand [type="checkbox"]:not(:checked) + label::after,
.brand [type="checkbox"]:checked + label::after {
    content: '✔';
    position: absolute;
    top: -4px;
    left: 10px;
    font-size: 18px;
    color: #09ad7e;
    transition: all .2s;
}
        /*--скрываем чеки до срабатывания--*/
.brand [type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
}

    /*--кастомизация кнопки--*/
.brand > .button {
    position: relative;
    color: #e5e9ea;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    width: 82px;
    height: 26px;
    background-color: black;
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    border: 1px solid #a7abae;
    border-radius: 14px;
    left: 32px;
    top: 46px;
    cursor: pointer;
}





/*--позиционирование левого меню--*/
        /*заголовок*/
.left.column h2 {top: 2px;left: 0px;}

        /*шины*/
h3.tire {top: 15px;left: 1px;}

        /*диски*/
h3.disk{top: 58px;left: 1px;}

        /*болты*/
h3.bolt{top: 100px;left: 1px;}

        /*пункты меню поштучно*/
._1{top: 16px;left: 39px;}
._2{top: 28px;left: 39px;}
._3{top: 40px;left: 39px;}
._4{top: 51px;left: 39px;}
._5{top: 59px;left: 39px;}
._6{top: 71px;left: 39px;}
._7{top: 81px;left: 39px;}
._8{top: 94px;left: 39px;}
._9{top: 102px;left: 39px;}
._10{top: 113px;left: 39px;}
._11{top: 125px;left: 39px;}
._12{top: 136px;left: 39px;}


/*--позиционирование правого меню--*/
        /*заголовок*/
.right.column h2 {top: 0px;left: 8px;}

        /*шины*/
h3.tire_chk {top: 14px;left: 22px;}

        /*диски*/
h3.disk_chk{top: 24px;left: 22px;}


        /*чекбоксы поштучно*/
.chekbox_1{top: 16px;left: 22px;}
.chekbox_2{top: 16px;left: 22px;}
.chekbox_3{top: 16px;left: 22px;}
.chekbox_4{top: 28px;left: 22px;}
.chekbox_5{top: 28px;left: 22px;}
.chekbox_6{top: 28px;left: 22px;}


/*------центральный блок, колеса---------*/

.center.column {
    background-color: white;
    background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
    border-radius: 3px;
}
figure {
    position: absolute;
}
figure > h4 {
    font-family: "Lucida Sans Unicode";
    font-weight: 400;
    line-height: 15px;
    color: #206988;
    font-size: 15px;
    text-align: center;
}
figure > h6 {
    font-family: "Lucida Sans Unicode";
    font-weight: 400;
    line-height: 13px;
    color: #1f2528;
    font-size: 13px;
    text-align: center;
}
figure div {
    width: 107px;
    height: 122px;
    background-color: white;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    padding-left: 29px;
    padding-top: 5px;
}
figcaption {
    display: block;
    position: relative;
    color: #114165;
    font-family: Arial;
    font-weight: 700;
    font-style: italic;
    line-height: 10px;
    font-size: 17px;
    left: 37px;
    top: 7px;
}
figcaption > span {
    font-size: 13px;
}
/*--позиционирование колес--*/
.wheel_1{top: 14px;left: 23px;}
.wheel_2{top: 216px;left: 23px;}
.wheel_3{top: 420px;left: 23px;}
.wheel_4{top: 14px;left: 191px;}
.wheel_5{top: 216px;left: 191px;}
.wheel_6{top: 420px;left: 191px;}
.wheel_7{top: 14px;left: 359px;}
.wheel_8{top: 216px;left: 359px;}
.wheel_9{top: 420px;left: 359px;}

/*----- корректировки поштучно------*/
.wheel_4 figcaption,
.wheel_5 figcaption,
.wheel_6 figcaption,
.wheel_7 figcaption,
.wheel_8 figcaption,
.wheel_9 figcaption{left: 33px;}

/*-------конец колес------*/

.brands_img {
    text-align: center;
    margin-top: 36px;
}

/*--------подвал--------*/

footer {
    position: relative;
    margin-top: 20px;
    height: 101px;
    background-color: #213a4d;
    border: 1px solid #242a3c;
}

footer > div {
    margin: 0 auto;
    width: 100%;
    height: 11px;
}

.footer_item {
    position: relative;
    display: block;
    float: left;
    height: 10px;
    padding-right: 12px;
    padding-left: 13px;
    left: 295px;
    top: 14px;
    border-right: 2px solid #8d989f;
}

.footer_item a {
    position: relative;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #bec6c9;
    text-decoration: none;
    bottom: 4px;
}

.footer_item a:hover {
    color: #52abcb;
}

footer > p {
    margin: 24px auto;
    width: 100%;
    height: 11px;
    color: #7f4740;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}






